/* mobiles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }

  .container {
    color: #172b4d;
    background-color: #e5e5e5;
    font-family: 'Poppins', serif;
  }

  .mobile-squeleton {
    background-color: #fff;
    border-bottom-left-radius: 80px;
    height: 718px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 48px;
  }

  .header a {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    width: 76px;
    height: 20px;
    color: #6070ff;
  }

  .main {
    background-image: url("images/headerShapesmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 604px;
    margin-bottom: 150px;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 12px;
  }

  .section h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    width: 327px;
    margin-bottom: -16px;
  }

  .section p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .section .social-media {
    margin-top: -16px;
  }

  .section-mobile ul {
    width: 236px;
    height: 32px;
    margin-left: -40px;
  }

  .section .social-media ul {
    display: flex;
    justify-content: space-between;
    width: 170.17px;
    height: 20px;
    list-style: none;
  }

  .section .social-media .social-text {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .section .social-media li {
    margin-left: -40px;
  }

  /*  ---------------------mobile section -------------------------- */

  .section-nav {
    display: grid;
    row-gap: 12px;
    height: 650px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px;
    width: 295px;
    margin-left: 22px;
    background: #fff;
  }

  .card {
    margin-top: 100px;
  }

  .section-nav .header-mobile {
    height: 220px;
  }

  .section-mobile {
    display: grid;
    grid-template-columns: auto min-max0(0, 1fr);
    grid-template-rows: auto 1fr;
    width: 295px;
    row-gap: 12px;
    margin: 0;
    padding: 0;
  }

  .header-mobile img {
    width: 295px;
  }

  .section-mobile .project-title h2 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 0;
  }

  .section-mobile .project-title {
    display: flex;
    flex-direction: column;
    height: 92px;
    margin-top: -75px;
  }

  .section-mobile .project-title .top-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .space-list {
    margin-bottom: 32px;
  }

  .identaton {
    margin-top: -50px;
  }

  .section-mobile .list-bottom li {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    padding: 12px 12px 24px 12px;
  }

  .section-mobile .project-title .top-list li {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .about-myself .about-container .language li {
    display: inline;
    list-style: none;
  }

  .about-myself .about-container .language-list .list {
    display: flex;
    gap: 16px;
    align-items: center;
    background: #f7f7f9;
    border-radius: 8px;
    width: 303px;
    height: 66.72px;
    padding-left: 12px;
  }

  .about-myself .about-container .social-media ul li {
    display: inline;
    list-style: none;
    height: 20px;
  }

  .section-mobile .project-title .top-list li:first-child {
    color: #344563;
  }

  .section-mobile p {
    font-family: 'Poppins', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: top;
    color: #344563;
    margin: 0;
  }

  .section-mobile .list-bottom {
    display: flex;
    gap: 8px;
    list-style: none;
    margin-top: -60px;
  }

  .section-mobile .action {
    display: flex;
    align-items: center;
  }

  .section-mobile .button {
    border: 1px solid #6070ff;
    border-radius: 8px;
    outline: none;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 16px 16px 40px 16px;
    width: 124px;
    height: 48px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #396df2;
    background: #fff;
    cursor: pointer;
  }

  .button:hover {
    background-color: #6070ff !important;
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .button:active {
    color: #fff;
    background-color: #2230d2;
  }

  /* about myself */

  .about-myself {
    height: 1273px;
    margin-top: 150px;
    background: #fff;
    border-top-right-radius: 100px;
  }

  .about-myself .about-container {
    width: 327;
    margin-left: 22px;
    padding: 16px;
  }

  .about-myself .about-container h2 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-top: 100px;
  }

  .about-myself .about-container p {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about-myself .about-container .social-media .social-text {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .about-myself .about-container .social-media ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    padding: 0;
  }

  .about-myself .about-container .get-myResume a {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #396df2;
    border-radius: 16px;
    width: 138px;
    height: 24px;
    padding: 16px;
    text-decoration: none;
  }

  .about-myself .about-container .language {
    display: flex;
    align-items: center;
    color: #000;
    gap: 24px;
    padding: 0;
  }

  .about-myself .about-container .language p {
    width: 237px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .about-myself .about-container .language-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-decoration: none;
    gap: 12px;
  }

  .about-myself .about-container .language-list .list img {
    width: 48px;
    height: 48px;
  }

  .about-myself .about-container .Frameworks,
  .skills {
    width: 327px;
    height: 72px;
    border-bottom: 1px solid #dfe1e6;
  }
}

/* responsiveness */

@media only screen and (min-width: 700px) {
  body {
    font-family: 'Poppins', serif;
    box-sizing: border-box;
    height: 100vh;
    color: #172b4d;
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #e5e5e5;
  }

  .mobile-squeleton {
    background: #fff;
    border-bottom-left-radius: 80px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 20px;
    height: 48px;
  }

  .header a {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    width: 76px;
    height: 20px;
    color: #6070ff;
  }

  .main {
    background-image: url("images/headerShapesmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 604px;
    margin-bottom: 150px;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 12px;
  }

  .section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    width: 327px;
    margin-bottom: -16px;
  }

  .section p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .section .social-media {
    margin-top: -16px;
  }

  .section-mobile ul {
    width: 236px;
    height: 32px;
    margin-left: -40px;
  }

  .section .social-media ul {
    display: flex;
    justify-content: space-between;
    width: 170.17px;
    height: 20px;
    list-style: none;
  }

  .section .social-media .social-text {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .section .social-media li {
    margin-left: -40px;
  }

  /*  ---------------------mobile section -------------------------- */

  .section-nav {
    display: grid;
    row-gap: 12px;
    height: 602px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px;
    gap: 12px;
    width: 295px;
    margin-left: 22px;
    background: #fff;
  }

  .section-nav .header-mobile {
    height: 220px;
  }

  .section-mobile {
    display: grid;
    grid-template-columns: auto min-max0(0, 1fr);
    grid-template-rows: auto 1fr;
    width: 295px;
    row-gap: 12px;
    margin: 0;
    padding: 0;
  }

  .header-mobile img {
    width: 295px;
  }

  .section-mobile .project-title h2 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 0;
  }

  .section-mobile .project-title {
    display: flex;
    flex-direction: column;
    height: 92px;
  }

  .section-mobile .project-title .top-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .section-mobile .list-bottom li {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    padding: 12px 12px 24px 12px;
  }

  .section-mobile .project-title .top-list li {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .about-myself .about-container .language li {
    display: inline;
    list-style: none;
  }

  .about-myself .about-container .language-list .list {
    display: flex;
    gap: 16px;
    align-items: center;
    background: #f7f7f9;
    border-radius: 8px;
    width: 303px;
    height: 66.72px;
    padding-left: 12px;
  }

  .about-myself .about-container .social-media ul li {
    display: inline;
    list-style: none;
    height: 20px;
  }

  .section-mobile .project-title .top-list li:first-child {
    color: #344563;
  }

  .section-mobile p {
    font-family: 'Poppins', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: top;
    color: #344563;
    margin: 0;
  }

  .section-mobile .list-bottom {
    display: flex;
    gap: 8px;
    list-style: none;
  }

  .section-mobile .action {
    display: flex;
    align-items: center;
  }

  .section-mobile .button {
    border: 1px solid #6070ff;
    border-radius: 8px;
    outline: none;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 16px 16px 40px 16px;
    width: 124px;
    height: 48px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #396df2;
    background: #fff;
    cursor: pointer;
  }

  .section-mobile .button:hover {
    background: #6070ff !important;
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .section-mobile .button:active {
    color: #fff;
    background: #2230d2;
  }

  .section-mobile .button:hover:disabled {
    color: #5e6c84;
    background: #fff;
  }

  /* about myself */

  .about-myself {
    height: 1273px;
    margin-top: 150px;
    background: #fff;
    border-top-right-radius: 100px;
  }

  .about-myself .about-container {
    width: 320;
    margin-left: 22px;
    padding: 16px;
  }

  .about-myself .about-container h2 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-top: 100px;
  }

  .about-myself .about-container p {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about-myself .about-container .social-media .social-text {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .about-myself .about-container .social-media ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    padding: 0;
  }

  .about-myself .about-container .get-myResume p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #396df2;
    border-radius: 16px;
    width: 138px;
    height: 24px;
    padding: 16px;
  }

  .about-myself .about-container .language {
    display: flex;
    align-items: center;
    color: #000;
    gap: 24px;
    padding: 0;
  }

  .about-myself .about-container .language p {
    width: 237px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .about-myself .about-container .language-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-decoration: none;
    gap: 12px;
  }

  .about-myself .about-container .language-list .list img {
    width: 48px;
    height: 48px;
  }

  .about-myself .about-container .Frameworks,
  .skills {
    width: 327px;
    height: 72px;
    border-bottom: 1px solid #dfe1e6;
  }
}
